In [1]:
# importing Python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# the inline command allows use of matplotlib in Jupyter
%matplotlib inline

In [2]:
data = pd.read_csv('data/videogames.csv')
data.head()

,Game,Price,Paid,Savings,Compatibility,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Astro's Playroom ‚úî,‚Ç¨0.00,‚Ç¨0.00,‚Ç¨0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AWAY: The Survival Series ü•≥üéÅ,‚Ç¨29.99,‚Ç¨0.00,‚Ç¨29.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Beat Cop,‚Ç¨14.99,‚Ç¨1.49,‚Ç¨13.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bugsnax ‚úî,‚Ç¨21.99,‚Ç¨16.49,‚Ç¨5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN